@font-face {
    font-family: 'digital-7';
    src: url(../assests/fonts/digital-7.regular.ttf);
}

.screen{
    font-family: 'digital-7','sans-serif';
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 88%;
    font-size: 4.5rem;
    height: 40px;
    border: none;
    background-color: #72c7ec;
    color: black;
    text-align: right;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 20px;
}